<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="Feed Rewrite" stopProcessing="true">
          <match url="^feed/(.*)" />
          <action type="Rewrite" url="/feed" />
        </rule>


        <rule name="Profile Rewrite" stopProcessing="true">
          <match url="^profile/(.*)" />
          <action type="Rewrite" url="/profile" />
        </rule>


        <rule name="Group Rewrite" stopProcessing="true">
          <match url="^group/(.*)" />
          <action type="Rewrite" url="/group" />
        </rule>


        <rule name="Catch-All Rewrite" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
