<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Feed Rewrite" stopProcessing="true">
          <match url="^feed/(.*)" />
          <action type="Rewrite" url="/feed/{R:1}" />
        </rule>
        <rule name="Profile Rewrite" stopProcessing="true">
          <match url="^profile/(.*)" />
          <action type="Rewrite" url="/profile/{R:1}" />
        </rule>
        <rule name="Group Rewrite" stopProcessing="true">
          <match url="^group/(.*)" />
          <action type="Rewrite" url="/group/{R:1}" />
        </rule>
        <rule name="Catch-All Rewrite" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
